<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta
			name="viewport"
			content="width=device-width, initial-scale=1.0" />
		<title>Document</title>

		<link
			href="/src/output.css"
			rel="stylesheet" />
	</head>
	<body>
		<div class="h-screen w-screen flex flex-col justify-center items-center">
			<p class="font-bold text-2xl">Admin Login</p>
			<form
				action="/"
				method="post">
				<input
					type="password"
					class="mt-10 outline-2 outline-black px-4 border-2 border-black py-4"
					name="pin"
					id="pin"
					placeholder="Enter 4 digit pin" />

                    <button></button>
			</form>
		</div>
	</body>
</html>
