<%- include ('./partials/cryptoHeader') %>

				

				<section
					class="bg-gray-200 rounded-tl-3xl mt-10 h-screen w-screen">
					<div>
						<div class="text-3xl text-center font-semibold">
							<h1 class="mt-5">Contact us</h1>
						</div>
						<div>
							<p class="text-lg text-center">
								Have any questions or concerns? Feel free to
								reach out to us!
							</p>
						</div>
						<div class="flex flex-col justify-center items-center">
							<textarea
								class="h-60 w-3/4 mt-14"
								name=""
								id=""
								placeholder="Enter text here"></textarea>
							<a
								href="/cryptoProfile"
								type="button"
								class="px-5 py-3 bg-gray-800 mt-6 rou rounded-lg text-white"
								>Submit</a
							>
						</div>
					</div>
				</section>
			</div>
		</main>

		<%- include ('./partials/cryptoFooter') %>	