<%- include ('./partials/cryptoHeader') %>

				

				<section
					class="bg-gray-200 rounded-tl-3xl mt-10 h-screen w-screen">
					<div>
						<div class="text-3xl text-center font-semibold">
							<h1 class="mt-20">Contact us</h1>
						</div>
						<div>
							<p class="text-lg text-center">
								Have any questions or concerns? Feel free to
								reach out to us!
							</p>

							<p class="text-center mt-6 text-blue-700">stockinvestsupport@oletter.com</p>
						</div>
						<div class="flex flex-col justify-center items-center">
					
							<a
								href="mailto:stockinvestsupport@oletter.com"
								type="button"
								class="px-5 py-3 bg-gray-800 mt-6 rounded-lg text-white"
							>
								Click to Mail Us
							</a>

						</div>
					</div>
				</section>
			</div>
		</main>

		<%- include ('./partials/cryptoFooter') %>	